﻿@using PurchaseManagement.Models
@model  IEnumerable<Partner>

@{
    ViewBag.Title = "Partner List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Partner List</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">
                @*<div class="form-group">
                    <label class="col-sm-2 control-label">Normal</label>

                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>*@



                <!-- ========================= Primary ========================= --->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10"><input type="text" name="Name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10"><select style="width: 100%"><option></option><option value="Partner">Partner</option></select></div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Code</label>
                        <div class="col-sm-10"><input type="text" name="Code" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10"><select style="width: 100%"><option></option><option value="Brazil">Brazil</option></select></div>
                    </div>
                </div>

                <!-- ========================= Buttons ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-white" type="submit">Clear</button>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>

                <!-- ========================= Search Results ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Name, "Main", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.ActionLink("Addresses", "Index", new { controller = "Address", id = item.Id, type = "Partner" })
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </form>
        </div>

    </div>
</div>
