﻿@using PurchaseManagement.ViewModels;
@model AssignLinesLogisticViewModel

@{
    ViewBag.Title = "Assign Logistic Lines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Logistics Lines</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">

                <!-- ========================= Logistic Info ========================= --->

                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.TruckContainerTrailerNo, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.TruckContainerTrailerNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.PortOfLoading, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.PortOfLoading, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.PortOfDischarge, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.PortOfDischarge, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.ActualEtd, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.ActualEtd, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.ForecastEta, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.ForecastEta, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========================= Lines ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">SO Release #</label>
                            <div class="col-sm-10">
                                <input type="text" name="Ref" class="form-control">
                                <button class="btn btn-primary pull-left">...</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">PO</label>
                            <div class="col-sm-10">
                                <input type="text" name="Ref" class="form-control">
                                <button class="btn btn-primary pull-left">...</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <!-- ========================= Lines (To Assign) ========================= --->

                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Partner</th>
                                <th>Supplier</th>
                                <th>PO</th>
                                <th>Partner PO</th>
                                <th>Ref.</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Sup. Ref.</th>
                                <th>Short Desc.</th>
                                <th>Rev. Qty.</th>
                                <th>Carton Qty.</th>
                                <th>Forecast Volumn</th>
                                <th>Forecast Gross Wt.</th>
                                <th>Forecast net Wt.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AvailableLines)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Partner)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Supplier)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Po)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartnerPo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ref)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Size)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupRef)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RevQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CartonQty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForecastVolumn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForecastGrossWt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ForecastNetWt)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div><button class="btn btn-primary">Assign</button></div>
                </div>

                <!-- ========================= Actual Shipment Lines ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox"/></th>
                                <th>Partner</th>
                                <th>Supplier</th>
                                <th>PO</th>
                                <th>Partner PO</th>
                                <th>Ref.</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Sup. Ref.</th>
                                <th>Short Desc.</th>
                                <th>Rev. Qty.</th>
                                <th>Carton Qty.</th>
                                <th>Forecast Volumn</th>
                                <th>Forecast Gross Wt.</th>
                                <th>Forecast net Wt.</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Lines)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Partner)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Po)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartnerPo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ref)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Size)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupRef)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RevQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CartonQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ForecastVolumn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ForecastGrossWt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ForecastNetWt)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td><b class="label label-info">
                                    Total
                            </b></td>
                            <td><b>
                                @Model.Lines.Sum(l =>
                                {
                                    int revQty = 0;
                                    int.TryParse(l.RevQty, out revQty);
                                    return revQty;
                                })
                            </b></td>
                            <td><b>
                                @Model.Lines.Sum(l =>
                                {
                                    int revQty = 0;
                                    int.TryParse(l.CartonQty, out revQty);
                                    return revQty;
                                })
                            </b></td>
                            <td><b>
                                @Model.Lines.Sum(l =>
                                {
                                    double revQty = 0;
                                    double.TryParse(l.ForecastVolumn, out revQty);
                                    return revQty;
                                })
                            </b></td>
                            <td><b>
                                @Model.Lines.Sum(l =>
                                {
                                    double revQty = 0;
                                    double.TryParse(l.ForecastGrossWt, out revQty);
                                    return revQty;
                                })
                            </b></td>
                            <td><b>
                                @Model.Lines.Sum(l =>
                                {
                                    double revQty = 0;
                                    double.TryParse(l.ForecastNetWt, out revQty);
                                    return revQty;
                                })
                            </b></td>
                        </tr>
                        </tbody>
                    </table>
                    <div><button class="btn btn-primary" >Unassign</button></div>
                </div>

            </form>
        </div>

    </div>
</div>
