﻿@using PurchaseManagement.Models
@model Logistic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Product Information</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">

                <!-- ========================= Forwarder, Transport mode, Loading Type  ========================= --->

                <div class="col-md-12">

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Forwarder, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Forwarder, new [] {new SelectListItem {Text = "Deret"} }, new {@class = "form-control"})
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Carrier, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Carrier, new[] { new SelectListItem { Text = "CMA-CGM" } }, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LogisticUnitType, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.LogisticUnitType, new[] { new SelectListItem { Text = "40GP (Dry)" } }, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <!-- Col 2 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TransportMode, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.TransportMode, new[] { new SelectListItem { Text = "Sea" } }, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FreightPayment, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.FreightPayment, new[] { new SelectListItem { Text = "Collect Partner" } }, new { htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VesselPlane, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.VesselPlane, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TruckContainerTrailerNo, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TruckContainerTrailerNo, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                    </div>

                    <!-- Col 3 -->

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoadingType, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.LoadingType, new[] { new SelectListItem { Text = "FCL" } }, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VoyageNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.VoyageNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SealNo, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.SealNo, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ========================= Hub, Forecast, Actual Hub ========================= --->

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-md-12">

                    <!-- Col 1 -->

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Hub, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.Hub, new[] {new SelectListItem {Text = "No"}}, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PortOfLoading, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PortOfLoading, new[] {new SelectListItem {Text = "VNUIH-Qui Nhon"}}, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PortOfTranshipment, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PortOfTranshipment, new[] {new SelectListItem {Text = ""}}, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PortOfDischarge, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PortOfDischarge, new[] {new SelectListItem {Text = "REPDG-Pointe Des Galets"}}, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PartnerWarehouse, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.PartnerWarehouse, new[] { new SelectListItem { Text = "REREU-SAP (Saprim/Sofimex)" } }, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>

                    <!-- Col 2 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForecastEtd, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ForecastEtd, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForecastEta, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ForecastEta, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                    </div>

                    <!-- Col 3 -->

                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActualHubExitDate, new {@class = "control-label col-md-4"})
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.ActualHubExitDate, new {htmlAttributes = new {@class = "form-control"}})
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========================= Comments ========================= --->

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <!-- ========================= Buttons ========================= --->

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <button class="btn btn-white" type="submit">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>