﻿@using PurchaseManagement.ViewModels;
@model AssignLinesLogisticViewModel

@{
    ViewBag.Title = "On Board Validation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>On Board Validation</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">

                <!-- ========================= Logistic Info ========================= --->

                <div class="col-md-12">

                    <!-- col 1 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.TruckContainerTrailerNo, new {@class = "control-label col-md-1"})
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.TruckContainerTrailerNo, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.Forwarder, new {@class = "control-label col-md-1"})
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.Forwarder, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.TransportMode, new {@class = "control-label col-md-1"})
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.TransportMode, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.Carrier, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.Carrier, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                    <!-- col 2 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.LogisticUnitType, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.LogisticUnitType, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.LoadingType, new {@class = "control-label col-md-1"})
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.LoadingType, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.VesselPlane, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.VesselPlane, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>

                    <!-- col 3 -->

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.SealNo, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.SealNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.FreightPayment, new {@class = "control-label col-md-1"})
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.FreightPayment, new {@class = "form-control", @readonly = "readonly"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Logistic.VoyageNo, new { @class = "control-label col-md-1" })
                            <div class="col-md-11">
                                @Html.TextAreaFor(model => model.Logistic.VoyageNo, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========================= Actual Shipment Lines ========================= --->

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                    <div>Lines</div>
                </div>

                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>PO</th>
                                <th>Partner PO</th>
                                <th>PI</th>
                                <th>Supplier Ref.</th>
                                <th>Short Desc.</th>
                                <th>Size</th>
                                <th>Color</th>
                                <th>Qty.</th>
                                <th>Volumn (m3)</th>
                                <th>Gross Wt. (kg)</th>
                                <th>Net Wt. (kg)</th>
                                <th>BL #</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lines)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Po)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartnerPo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupRef)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShortDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Size)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CartonQty)
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.ValidatedVolumn)
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.ValidatedGrossWt)
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.ValidatedNetWt)
                                    </td>
                                    <td>
                                        @Html.EditorFor(modelItem => item.BlNo)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b class="label label-info">
                                    Total
                                </b><td>
                                    <b>
                                        @Model.Lines.Sum(l =>
                                {
                                    double sum = 0;
                                    double.TryParse(l.CartonQty, out sum);
                                    return sum;
                                })
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        @Model.Lines.Sum(l =>
                                {
                                    double sum = 0;
                                    double.TryParse(l.ValidatedVolumn, out sum);
                                    return sum;
                                })
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        @Model.Lines.Sum(l =>
                                {
                                    double sum = 0;
                                    double.TryParse(l.ValidatedGrossWt, out sum);
                                    return sum;
                                })
                                    </b>
                                </td>
                                <td>
                                    <b>
                                        @Model.Lines.Sum(l =>
                                {
                                    double sum = 0;
                                    double.TryParse(l.ValidatedNetWt, out sum);
                                    return sum;
                                })
                                    </b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-primary">Validate</button>
                    </div>
                </div>

                <!-- ========================= Footer ========================= --->

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                    <div>Document Attachements</div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Container Level", new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.Label("Attachements", new { @class = "label label-success" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("PO Level", new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.DropDownList("PO Level", new[] { new SelectListItem() }, new { @class = "control-label", @readonly = "readonly" })
                                @Html.Label("Attachements", new { @class = "control-label" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                    <div>Validation</div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Validate Date", new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.Label("17-08-2016 09:29:00 AM (Paris, France)", new { @class = "label label-success" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.Label("Validate By", new { @class = "control-label col-md-6" })
                            <div class="col-md-6">
                                @Html.Label("", new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">Validate</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
