﻿@using PurchaseManagement.Models;
@model IEnumerable<Product>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Create New Supplier</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">
                
                <!-- ========================= Primary ========================= --->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ref.</label>
                        <div class="col-sm-10">
                            <input type="text" name="Ref" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SO</label>
                        <div class="col-sm-10">
                            <select name="So" style="width: 100%"><option value="Partner">SO-VIETNAM-HO CHI MINH</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Supplier</label>
                        <div class="col-sm-10">
                            <input type="text" name="Supplier" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            <select name="Status" style="width: 100%"><option value="Active">Active</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Team</label>
                        <div class="col-sm-10">
                            <select name="Team" style="width: 100%"><option></option><option value="Brazil">Brazil</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Keyword</label>
                        <div class="col-sm-10">
                            <input type="text" name="Keyword" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- ========================= Buttons ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-white" type="submit">Clear</button>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>

                <!-- ========================= Search Results ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Ref.</th>
                            <th>Sup. Ref.</th>
                            <th>Supplier Name</th>
                            <th>Province/State</th>
                            <th>Short Description</th>
                            <th>Price</th>
                            <th>Cur.</th>
                            <th>Place</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Ref, "Main", new {id = item.Id})
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SupplierRef)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Supplier)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Supplier)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ShortDescription)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.SupplierCurrency)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Place)
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </form>
        </div>

    </div>
</div>
