﻿@using PurchaseManagement.Models
@model  IEnumerable<Supplier>

@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Supplier List</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
            <form method="POST" class="form-horizontal">
                @*<div class="form-group">
                    <label class="col-sm-2 control-label">Normal</label>

                    <div class="col-sm-10"><input type="text" class="form-control"></div>
                </div>
                <div class="hr-line-dashed"></div>*@



                <!-- ========================= Primary ========================= --->

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Factory</label>

                        <div class="col-sm-10"><select style="width: 100%"><option></option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10"><input type="text" name="Name" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Type</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo"></option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Country</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo"></option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Best Category</label>

                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Visited</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo"></option><option value="volvo">Volvo</option></select></div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo"></option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Code</label>

                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SO</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo">SO-VIETNAM-HO CHI MINH</option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Team</label>

                        <div class="col-sm-10"><select style="width: 100%"><option value="volvo">SGN-LOGISTICS</option><option value="volvo">Volvo</option></select></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Province / State</label>

                        <div class="col-sm-10"><input type="text" class="form-control"></div>
                    </div>
                </div>

                <!-- ========================= Buttons ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-white" type="submit">Clear</button>
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>

                <!-- ========================= Search Results ========================= --->

                <div class="col-sm-12">
                    <div class="hr-line-dashed"></div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Type</th>
                                <th>Prov./State</th>
                                <th>Country</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Name, "Main", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProvinceOrState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new {id = item.Id})
                                </td>
                                <td>
                                    @Html.ActionLink("Contacts", "Contacts", new { id = item.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Factories", "Factories", new {id = item.Id})
                                </td>
                                <td>
                                    @Html.ActionLink("Addresses", "Index", new { controller = "Address", id = item.Id })
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </form>
        </div>

    </div>
</div>
