﻿@using PurchaseManagement.Models
@model Supplier

@{
    ViewBag.Title = "Supplier Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Supplier Information</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">Config option 1</a>
                    </li>
                    <li>
                        <a href="#">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content">
        <form method="POST" class="form-horizontal">
        
        <!-- ========================= Primary ========================= --->

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Type, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Type, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Status, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.So, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.So, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Factory, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Factory, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Code, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Code, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.WfStatus, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.WfStatus, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Team, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Team, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
        </div>

        <!-- ========================= Address ========================= --->
        <div class="col-md-12">
            <div class="hr-line-dashed"></div>
        </div>

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProvinceOrState, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ProvinceOrState, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNo, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PhoneNo, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Website, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Website, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.Zip, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Zip, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.City, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.City, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Country, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Country, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Fax, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
        </div>

        <!-- ========================= Category ========================= --->

        <div class="col-md-12">
            <div class="hr-line-dashed"></div>
        </div>

        <div class="col-md-12" style="clear: right">
            <div class="form-group">
                @Html.LabelFor(model => model.BestCategory, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.BestCategory, new {@class = "form-control", @readonly = "readonly", width = "100%"})
                </div>
            </div>
        </div>

        <!-- ========================= Default ========================= --->

        <div class="col-md-12">
            <div class="hr-line-dashed"></div>
        </div>

        <div class="col-md-12">
            <h3><b>DFAULT</b></h3>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Currency, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Currency, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentType, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PaymentType, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Incoterm, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Incoterm, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Moa, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Moa, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentTerm, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PaymentTerm, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Place, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Place, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                </div>
            </div>
        </div>

        <!-- ========================= Comments ========================= --->

        <div class="col-md-12">
            <div class="hr-line-dashed"></div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Comments, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Comments, new {@class = "form-control", @readonly = "readonly", width = "100%"})
                </div>
            </div>
        </div>

        <!-- ========================= Buttons ========================= --->

        <div class="col-md-12">
            <div class="hr-line-dashed"></div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-white" type="submit">Close</button>
            </div>
        </div>


        </form>
        </div>

    </div>
</div>